<%= form_for(@post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <label>Post title:</label><br>

  <%= f.hidden_field :category_id %>

  <%= f.text_field :title %><br>
  <label>Details</label><br>
  <%= f.text_area :body %>
  <label>Images (optional)</label><br>
  <%= f.file_field :avatar %>
  <label>Please Select Category</label><br>
  <%= collection_select :post, :category_id, Category.all, :id, :name, prompt: true%>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
