
<h1><%= @post.title %></h2>

<div id="body-<%= @post.id %>"><%= @post.body %></div>

<div><img id="image-<%= @post.id %>" src="<%=@post.avatar%>" ></div>



<br><br>
<%= link_to 'Back', categories_path %>
