<p id="notice"><%= notice %></p>

<h1><%= @category.title %></h1>

<%= link_to "New Post", new_category_post_path(@category) %>

<% if @category.posts.empty? %>
  <% if user_signed_in? %>
    <p> There are no posts yet. Please add one! </p>
  <% else %>
    <p> There are no posts yet. Please sign in to add one! </p>
  <% end %>
<% else %>
  <h2>Posts:</h2>
  <% @category.posts.each do |post| %>
    <h3><%= post.title %></h3>
    <!-- truncate post body to 30 char -->
    <div id="body-<%= post.id %>"><%= truncate post.body %></div>
    <!-- if body length is greater than 35 characters, view rest of post body by clicking button (see app/assets/javascripts/post.js)-->
    <% if post.body.length > 30 %>
      <button class="more" data-id="<%= post.id %>">View More</button>
    <% end %>
    <!-- if post includes an image, show image -->
    <div id="image-<%= post.id %>">
      <% if post.avatar.present? %>
        <%= image_tag post.avatar.url alt=" "%>
      <% end %>
    </div>

  <% end %>
<% end %>

<%= link_to 'Back', categories_path %><br><br>


<!-- javascript code to be moved to assets -->
